language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '8'
  - '6'
  - '4'
before_install:
  - sudo apt-get update -y -qq
  - sudo apt-get install -y librsvg2-bin graphviz plotutils
  - npm install -g npm
before_script:
  - npm install -g grunt-cli
  - npm prune
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
